<a href="https://colab.research.google.com/github/LudmilaRamella/practicasIA/blob/main/Guia3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Guia 3 (LISTAS)

ejercicio 1

In [ ]:
frutas = ["manzana", "banana", "naranja", "pera"]
print(frutas)

['manzana', 'banana', 'naranja', 'pera']

ejercicio 2

In [ ]:
print(frutas[1])

banana

ejercicio 3

In [ ]:
frutas[0] = "cerezas"
print(frutas)

['cerezas', 'banana', 'naranja', 'pera']

ejercicio 4

In [ ]:
frutas.append("sandia")
print(frutas)

['cerezas', 'banana', 'naranja', 'pera', 'sandia']

ejercicio 5

In [ ]:
frutas.remove("naranja")
print(frutas)

['cerezas', 'banana', 'pera', 'sandia']

ejercicio 6

In [ ]:
numeros = [1, 2, 3, 4, 5]
for i in numeros:
  print(i)

1
2
3
4
5

ejercicio 7

In [ ]:
pares = [2, 4, 6, 8, 10]
pares.reverse()
pares.sort()
print(pares)

[2, 4, 6, 8, 10]

ejercicio 8

In [ ]:
cuadrados = [x**2 for x in range(1,6)]
print(cuadrados)

[1, 4, 9, 16, 25]

ejercicio 9

In [ ]:
nombres = ["lu", "anto", "juan", "ana"]
nom = input("ingrese un nombre: ")
for i in nombres:
  if i == nom:
    print("el nombre esta en la lista")

ejercicio 10

In [ ]:
numeros = list(range(1, 11))

sublistas = [numeros[i:i + 3] for i in range(0, len(numeros), 3)]

for sublista in sublistas:
    print(sublista)

Guia 3 (DICCIONARIOS)

ejercicio 1

In [ ]:
alumno = {
    "nombre": "lu",
    "edad": 21,
    "carrera": "Tecnicatura en programacion"
}

print(alumno)

{'nombre': 'lu', 'edad': 21, 'carrera': 'Tecnicatura en programacion'}

ejercicio 2

In [ ]:
alumno["edad"] = 20


print(alumno["edad"])

20

ejercicio 3

In [ ]:
alumno["universidad"] = "Utn"

print(alumno)

{'nombre': 'lu', 'edad': 20, 'carrera': 'Tecnicatura en programacion', 'universidad': 'Utn'}

ejercicio 4

In [ ]:
calificaciones = {
    "matematicas": 90,
    "fisica": 70,
    "quimica": 60
}
for i in calificaciones:
  print(i, calificaciones[i])

matematicas 90
fisica 70
quimica 60

ejercicio 5

In [ ]:
calificaciones.pop("fisica")

print(calificaciones)

{'matematicas': 90, 'quimica': 60}

ejercicio 6

In [ ]:
claves = list(calificaciones.keys())

valores = list(calificaciones.values())

print("Claves:", claves)
print("Valores:", valores)

Claves: ['matematicas', 'quimica']
Valores: [90, 60]

ejercicio 7

In [ ]:
agenda = {
    "contacto1": {
        "nombre": "lu",
        "telefono": "1234",
        "mail": "asd"
    },
    "contacto2": {
        "nombre": "lu",
        "telefono": "1234",
        "mail": "asd"
    },
    "contacto3": {
        "nombre": "lu",
        "telefono": "1234",
        "mail": "asd"
    }
}

print(agenda)

{'contacto1': {'nombre': 'lu', 'telefono': '1234', 'mail': 'asd'}, 'contacto2': {'nombre': 'lu', 'telefono': '1234', 'mail': 'asd'}, 'contacto3': {'nombre': 'lu', 'telefono': '1234', 'mail': 'asd'}}

Guia 3(TUPLAS)

ejercicio 1

In [ ]:
meses = (
    "enero",
    "febrero",
    "marzo",
    "abril",
    "mayo",
    "junio",
    "julio",
    "agosto",
    "septiembre",
    "octubre",
    "noviembre",
    "diciembre"
)
print(meses)

('enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre')

ejercicio 2

In [ ]:
print(meses[2])

marzo

ejercicio 3

In [ ]:
ultimo_mes = meses[-1]

print(ultimo_mes)

diciembre

ejercicio 4

In [ ]:
# meses[0] = "nuevo_mes"  # Esto provocará un TypeError
# Esto ocurre porque las tuplas son inmutables, lo que significa que no puedes modificar sus elementos una vez que se han creado.

ejercicio 5

In [ ]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)

tupla_concatenada = tupla1 + tupla2
print(tupla_concatenada)

ejercicio 6

In [ ]:
coordenadas = (10, 20, 30)

x, y, z = coordenadas

print(f"x: {x}, y: {y}, z: {z}")

x: 10, y: 20, z: 30

ejercicio 7

In [ ]:
alumnos = (
    (20, "Juan"),
    (22, "Ana"),
    (19, "Luis"),
    (21, "María")
)

for edad, nombre in alumnos:
    print(f"Nombre: {nombre}, Edad: {edad}")

Nombre: Juan, Edad: 20
Nombre: Ana, Edad: 22
Nombre: Luis, Edad: 19
Nombre: María, Edad: 21

Guia 3(SETS)

ejercicio 1

In [ ]:
frutas = {"manzana", "plátano", "naranja", "pera"}
print(frutas)

{'naranja', 'plátano', 'manzana', 'pera'}

ejercicio 2

In [ ]:
frutas1 = {"manzana", "platano", "pera"}
frutas2 = {"naranja", "sandia"}

frutas_unidas = frutas1.union(frutas2)
frutas_interseccion = frutas1.intersection(frutas2)
frutas_diferencia = frutas1.difference(frutas2)

print(f"Unidas: {frutas_unidas}")
print(f"inter: {frutas_interseccion}")
print(f"dife: {frutas_diferencia}")

Unidas: {'naranja', 'platano', 'sandia', 'manzana', 'pera'}
inter: set()
dife: {'platano', 'manzana', 'pera'}

ejercicio 3

In [ ]:
numeros = set()

for i in range(1, 6):
    numeros.add(i)

numeros.remove(3)

print(numeros)

{1, 2, 4, 5}

ejercicio 4

In [ ]:
vocales = {'a', 'e', 'i', 'o', 'u'}

letra = input("Ingresa una letra: ").lower() #convertimos a minuscula

if letra in vocales:
    print("es una vocal.")
else:
    print(" no es una vocal.")

ejercicio 5

In [ ]:
numeros_repetidos = [1, 2, 2, 3, 4, 4, 5, 5, 5]

# eliminar duplicados
conjunto_numeros = set(numeros_repetidos)

numeros_unicos = list(conjunto_numeros)

print(numeros_unicos)

ejercicio 6

In [ ]:
set1 = {1, 2, 3, 4, 5}

set2 = {4, 5, 6, 7, 8}

es_subconjunto1 = set1.issubset(set2)
# Alternativamente: es_subconjunto1 = set1 <= set2

# Verificar si set2 es un subconjunto propio de set1
es_subconjunto_propio2 = set2.issubset(set1) and set2 != set1
# Alternativamente: es_subconjunto_propio2 = set2 < set1

# Imprimir resultados
print(f"set1 es subconjunto de set2: {es_subconjunto1}")
print(f"set2 es un subconjunto propio de set1: {es_subconjunto_propio2}")

ejercicio 7

In [ ]:
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}

# Eliminar los elementos comunes
setA.difference_update(setB)
setB.difference_update(setA)

# Imprimir conj a
print("\nConjunto a después de eliminar los comunes:")
print("setA:", setA)