<a href="https://colab.research.google.com/github/LudmilaRamella/practicasIA/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crear un dataframe con la información de los empleados

In [1]:
#importrar pandas

import pandas as pd

#crear dataframe

data = {
    'Nombre': ['Ana', 'Luis', 'Marta', 'Carlos', 'Marcos'],
    'Edad': [28, 35, 42, 30, 18],
    'Departamento': ['Ventas', 'Finanzas', 'IT', 'Ventas', 'Administracion'],
}

df = pd.DataFrame(data)

print(df)

   Nombre  Edad    Departamento
0     Ana    28          Ventas
1    Luis    35        Finanzas
2   Marta    42              IT
3  Carlos    30          Ventas
4  Marcos    18  Administracion

Filtrar empleados de mas de 30 años

In [2]:
df_empleados_mayores = df[df['Edad']>30]

print(df_empleados_mayores)

  Nombre  Edad Departamento
1   Luis    35     Finanzas
2  Marta    42           IT

Añadir años de experiencia

In [4]:
df['Años de Experiencia'] = [5, 10, 15, 3, 8]

print(df)

   Nombre  Edad    Departamento  Años de Experiencia
0     Ana    28          Ventas                    5
1    Luis    35        Finanzas                   10
2   Marta    42              IT                   15
3  Carlos    30          Ventas                    3
4  Marcos    18  Administracion                    8

Añadir cantidad de años faltantes para jubilarse

In [6]:
df['Años faltantes para jubilarse'] = 60 - df['Edad']

print(df)

   Nombre  Edad    Departamento  Años de Experiencia  \
0     Ana    28          Ventas                    5
1    Luis    35        Finanzas                   10
2   Marta    42              IT                   15
3  Carlos    30          Ventas                    3
4  Marcos    18  Administracion                    8

   Años faltantes para jubilarse
0                             32
1                             25
2                             18
3                             30
4                             42

Agrupar empleados por departamento

In [11]:
grupo_departamento = df.groupby('Departamento')

for nombre, grupo in grupo_departamento:
    print(f"Departamento: {nombre}")
    print(grupo)
    print()

Departamento: Administracion
   Nombre  Edad    Departamento  Años de Experiencia  \
4  Marcos    18  Administracion                    8

   Años faltantes para jubilarse
4                             42

Departamento: Finanzas
  Nombre  Edad Departamento  Años de Experiencia  \
1   Luis    35     Finanzas                   10

   Años faltantes para jubilarse
1                             25

Departamento: IT
  Nombre  Edad Departamento  Años de Experiencia  \
2  Marta    42           IT                   15

   Años faltantes para jubilarse
2                             18

Departamento: Ventas
   Nombre  Edad Departamento  Años de Experiencia  \
0     Ana    28       Ventas                    5
3  Carlos    30       Ventas                    3

   Años faltantes para jubilarse
0                             32
3                             30

filtrar ventas

In [12]:
ventas_empleados = df[df['Departamento'] == 'Ventas']

print("Empleados en el departamento de Ventas:")
print(ventas_empleados)

Empleados en el departamento de Ventas:
   Nombre  Edad Departamento  Años de Experiencia  \
0     Ana    28       Ventas                    5
3  Carlos    30       Ventas                    3

   Años faltantes para jubilarse
0                             32
3                             30

Cambiar edad de Luis

In [14]:
df.loc[df['Nombre'] == 'Luis', 'Edad'] = 36

print(df)

   Nombre  Edad    Departamento  Años de Experiencia  \
0     Ana    28          Ventas                    5
1    Luis    36        Finanzas                   10
2   Marta    42              IT                   15
3  Carlos    30          Ventas                    3
4  Marcos    18  Administracion                    8

   Años faltantes para jubilarse
0                             32
1                             25
2                             18
3                             30
4                             42

Calcular la edad promedio de los empleados

In [15]:
edad_promedio = df['Edad'].mean()

print("La edad promedio de los empleados es: " + str(edad_promedio))

La edad promedio de los empleados es: 30.8

Promedio de los años de experiencia

In [18]:
exp_promedio = df['Años de Experiencia'].mean()

print("El promedio de los años de exp es: " + str(exp_promedio))

El promedio de los años de exp es: 8.2